{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'invalid_credentials' %}
            <div id="alertDiv" class="alert alert-danger fade show" role="alert">
                <strong>Warning:</strong> Invalid credentials.
                <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            </div>
        {% elif message.tags == 'login_success' %}
            <div id="alertDiv" class="alert alert-success fade show" role="alert">
                <strong>Success:</strong> You are logged in.
                <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            </div>
        {% elif message.tags == 'error' %}
            <div id="alertDiv" class="alert alert-danger fade show" role="alert">
                <strong>Error:</strong> {{ message }}
                <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            </div>
        {% else %}
            <div id="alertDiv" class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message.tags | title }} {{ message }}
                <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

  
  <script>
    setTimeout(function() {
      var alertDiv = document.getElementById('alertDiv');
      alertDiv.style.display = 'none';
    }, 2500);
  </script>
  