{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="about-us">
    <div class="banner">
      <img src="{%static './assets/images/bg-banner.png'%}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Sell Car
      </h1>
    </div>
    <h2 class="text-center mt-5 mb-2  animate__animated animate__flipInX animate__slow	">
      Get the best valuation for your car
    </h2>
    <p class="text-center mb-3  animate__animated animate__flipInX animate__delay-1s">
      Fill the form below and we will get in touch asap
    </p>

    <section class="container mt-5">
      <div class="row ">
        <div class="col-md-6 mb-2 ">
          <form method="POST" action="{% url 'sellcar' %}">
            {% csrf_token %}

          {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{user.id}}">
          {% else %}
          <input type="hidden" name="user_id" value="00">
          {% endif %}
          <input type="hidden" name="car_id" value="{{car.id}}">  

            <div class="form-row">
              <div class="form-group col-lg-6">
                {% if user.is_authenticated %}
                <input name="full_name" type="text" value="{{user.first_name}}" class="form-control" placeholder="Full Name" required>
                {% else %}
                <input name="full_name" type="text" class="form-control" placeholder="Full Name" required>
                {% endif %}
              </div>
              <div class="form-group col-lg-6">
                {% if user.is_authenticated %}
             <input name="phone" type="text" value="{{user.phone}}" class="form-control" placeholder="Phone Number" pattern="[0-9]{10}" title="Please enter a 10-digit phone number" required> 
                {% else %}
             <input name="phone" type="text" class="form-control" placeholder="Phone Number" pattern="[0-9]{10}" title="Please enter a 10-digit phone number" required> 
                {% endif %}
             
           
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
                {% if user.is_authenticated %}
                <input name="email" type="email" value="{{user.email}}" class="form-control" placeholder="Email" required>
                {% else %}
                <input name="email" type="email" class="form-control" placeholder="Email" required>
                {% endif %}

              </div>
              <div class="form-group col-lg-6">
                {% if user.is_authenticated %}
                <input name="address" type="text" value="{{user.address}}" class="form-control" placeholder="Address" required>
                {% else %}
                <input name="address" type="text" class="form-control" placeholder="Address" required>
                {% endif %}

              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                  <input name="car_name" type="text" class="form-control" placeholder="Car Name" required>
                </div>
                <div class="form-group col-lg-6">
                  <input name="car_model" type="text" class="form-control" placeholder="Car Model" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                    <input name="km_driven" type="number" class="form-control" placeholder="Km-driven" required>
                  </div>
                  <div class="form-group col-lg-6">
                    <input name="year" type="number" class="form-control" placeholder="Year" id="year" required>
                </div>
              </div>
            <div class="form-group">
              <input name="expected_price" type="number" class="form-control" placeholder="Expected Price" required>
            </div>
            <div class="form-group pt-2">
              <textarea name="message" class="form-control" rows="3" placeholder="Details Message"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="photos">Car Photo</label>
                <input type="file" name="photos" class="form-control-file" id="photos" accept="image/*" multiple required>
                <small class="form-text text-muted">You can select multiple photos by holding the Ctrl/Cmd key while selecting.</small>
              </div>
            <div class="text-center">
              <button value="submit" type="submit" class="btn btn-accent">Contact Us</button>
            </div>

          </form>
        </div>

        <div class="col-md-4 offset-md-2 d-flex justify-content-center mb-2">
          <div class="card">
            <div class="card-body">
              <div class="mb-4">
                <h6 class="card-title font-weight-bolder">Phone</h6>
                <span class="card-text">+977 9840715917</span>
              </div>
              <div class="mb-4">
                <h6 class="card-title font-weight-bolder">Email</h6>
                <span class="card-text">info@cardeal.com</span>
              </div>
              <div class="mb-4">
                <h6 class="card-title font-weight-bolder">Address</h6>
                <span class="card-text">Banasthali <br> Balaju, ktm-16 <br>Nepal </span>
              </div>
              <div class="mb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d23756.7374759508!2d85.30932323293342!3d27.733954191821127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjfCsDQzJzU0LjAiTiA4NcKwMTcnMzguOSJF!5e0!3m2!1sne!2snp!4v1686237893418!5m2!1sne!2snp" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    // JavaScript code to enforce the min and max values for the year field
    document.addEventListener('DOMContentLoaded', function() {
        var yearInput = document.getElementById('year');
        var currentYear = new Date().getFullYear();

        yearInput.addEventListener('input', function() {
            var enteredYear = parseInt(this.value);
            if (enteredYear < 1994 || enteredYear > 2023) {
                this.setCustomValidity('Year must be between 1995 and 2023');
            } else {
                this.setCustomValidity('');
            }
        });

        yearInput.addEventListener('blur', function() {
            this.reportValidity();
        });
    });
</script>
{% endblock%}